<div class="container" width="100%">
  <div class="row" width="100%">
    <div class="col-sm">
      <mat-card tabindex="0">
        <mat-card-header>
          <span mat-card-title>Song Repository</span>
        </mat-card-header>
        <mat-card-content>
          <mat-list class="selectableMenu no-user-select">

          @for (songlistentry of fileManagerService.songList; track songlistentry) {
            <app-song-list-entry 
              [songlistentry]="songlistentry" 
              [selectionArray]="fileManagerService.selectedSongs" 
              [showTags]="this.settingsService.getShowTagsInSongSelection()"
            />
          }    

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div> 
    <div class="col-sm">
      <mat-card tabindex="1">
        <mat-card-header>
          <span mat-card-title>Song Selection</span>
        </mat-card-header>
        <mat-card-content>
          <app-selected-presentation-elements-list></app-selected-presentation-elements-list>
        </mat-card-content>
      </mat-card>
    </div> 
  </div>
</div>