<div class="container">
    <h2>Settings</h2>

    <p>In the future, all the users of Cantara will be able to adjust the layout of Cantara here.</p>
    <p>For now, you will just find some boylerplates.</p>

    <div class="styleSettings">
        <h3>Program Style Settings</h3>
        <p><mat-slide-toggle [checked]="settingsService.isDark" (toggleChange)="settingsService.toggleDarkTheme()">Dark Mode</mat-slide-toggle></p>
        <p>
            <mat-slide-toggle [checked]="settingsService.showTagsInSongSelection" (toggleChange)="settingsService.toggleShowTagsInSongSelection()">Show song tags in song selection</mat-slide-toggle>
        </p>
    </div>
</div>