<style>
    mat-sidenav {
        max-width: 200px;
    }
    mat-sidenav-container {
        height: 100%;
    }
</style>

@if (toolbarShown) {
<mat-toolbar>
    <button mat-icon-button class="unvisible-button" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Cantara</span>
    <div class="global-searchbar-div">
        <mat-form-field class="global-searchbar">
            <mat-label>Filter Elements...</mat-label>
            <input 
                matInput 
                type="text" 
            />  
        </mat-form-field>
    </div>
</mat-toolbar>
}
<mat-sidenav-container>
    <mat-sidenav #sidenavMenu mode="side" opened="true">
        <app-sidebar-menu (entryClicked)="changeChildPage($event)" />
    </mat-sidenav>
    
    <mat-sidenav-content>
        @if (currentPage == CP.PageSongSelection) {
            <app-home @fadeIn />
        }      
        @else if (currentPage == CP.PageSongPresentation) {
            <app-presentation-controller @fadeIn />
        }  
        @else if (currentPage == CP.PageSettings) {
            <app-settings-page @fadeIn />
        }
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet />
