@media only screen and (max-width: 600px) {
    .unvisible-button {
        background-color: transparent;
        border: none;
    }
}

@media only screen and (min-width: 600px) {
    .unvisible-button {
        display: none;
    }
}

.global-searchbar-div {
    margin: auto;
    height: 50%;
    border-color: var(--bs-light-border-subtle);
    border-width: 20px;
    color: var(--bs-light-bg-subtle);
}

.global-searchbar {
    border-color: var(--bs-light-border-subtle);
    border-width: 20px;
    color: var(--bs-light-bg-subtle);
}